@charset "UTF-8";
*{
			margin:0;
			border-width:0;
			padding: 0;
			outline: none;
		}
		
		.wrap{
			width:100vw;
			height:100vh;
			background-color:rgba(var(--b3f,250,250,250),1);   
			overflow-x: hidden;
		}
		
		html{
			scroll-behavior: smooth;
		}
			
		/*top style*/
			
		.top {
			width: 100vw;
			padding: 10px 20px;
			background-color: white;
			height: 4vh;
			position: fixed;
			border: 1px solid #f0f0f0;
			z-index: 2;
			box-shadow: 6px 6px 12px rgba(0,0,0,0.15),
						 -6px -6px 12px rgba(255,255,255,1);
			border: 1px solid rgba(var(--b3f,250,250,250),2);
			border-radius: 5px;
		}
		#logo{
		font-style:inherit;
		color:black;
        text-decoration: none;
        margin-left: 378px
        
		}
			
		.nav-contents {
			width: 1920px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
			
		.nav-logo {
		display: flex;
		align-items: center;
		font-style:inherit;
		color:black;
        text-decoration: none;
        margin-left: 460px;
		}
			
		.logo-text {
			height: 29px;
			margin-top: 5px;
		}
			
		.vertical-line {
			background-color: #262626;
			height: 28px;
			margin: 0 16px;
			width: 1px;
		}
			
		.nav-search {
			width: 215px;
			border: solid 1px #dbdbdb;
			color: #262626;
			font-weight: lighter;
			outline: 0;
			padding:9px 10px 8px 26px;
			float: right;
			box-shadow: inset -2px -2px 6px rgba(255,255,255,1),
							inset 2px 2px 6px rgba(0,0,0,0.1);
			border: 1px solid rgba(var(--b3f,250,250,250),1);
			border-radius: 15px;
		}
			
		.search-btn {
			width: 35px;
			height: 34px;
			float: right;
			box-shadow:  4px 4px 8px rgba(0,0,0,0.08),
						 -6px -6px 12px rgba(255,255,255,1);
			border: 1px solid rgba(var(--b3f,250,250,250),1);
			border-radius: 15px;
			margin-right: 10px;
		}
		
		.nav-link {
			margin-right: 400px;
			float: right;
		 	display: flex; 
			align-items: center;
		}
		
		.nav-link a {
			height: 0;
		}
		
		.nav-link img{
			height: 30px;
			margin-right: 35px;
			margin-top: -15px;
			box-shadow: 4px 4px 8px rgba(0,0,0,0.08),
						 -6px -6px 12px rgba(255,255,255,1);
			border: 1px solid rgba(var(--b3f,250,250,250),1);
			border-radius: 5px;
		}
		
		.nav-link img:hover{
			box-shadow: inset 6px 6px 12px rgba(0,0,0,0.08),
						inset -6px -6px 12px rgba(255,255,255,1);
			border: 1px solid rgba(var(--b3f,250,250,250),1);
			border-radius: 5px;
		}
		
		.nav-link img:not(:first-child ) {
			    margin-left: 0px;
		}
			
		/*top 반응형*/
		
		@media(max-width :1100px){
			.top {
				padding: 5px 20px;
				background-color: white;
				height: 37px;
				position: fixed;
				border: 1px solid #f0f0f0;
				border-right: none;
			}
				
			.nav-contents {
				width: 950px;
				margin: 0 auto;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			
			.nav-logo {
				display: flex;
				align-items: center;
				font-style:inherit;
				color:black;
		        text-decoration: none;
		        margin-left: 378px;
			}
			
			.logo-text {
				height: 29px;
				margin-top: 5px;
			}
			
			.vertical-line {
				background-color: #262626;
				height: 28px;
				margin: 0 16px;
				width: 1px;
			}
			
			.nav-search {
				width: 215px;
				border: solid 1px #dbdbdb;
				color: #262626;
				font-weight: lighter;
				outline: 0;
				padding: 8px 10px 8px 26px;
				float: right;
				box-shadow: inset -2px -2px 6px rgba(255,255,255,1),
							inset 2px 2px 6px rgba(0,0,0,0.1);
				border: 1px solid rgba(var(--b3f,250,250,250),1);
				border-radius: 15px;
			}
			
			.search-btn {
				width: 35px;
				height: 34px;
				float: right;
				margin-right: 10px;
			}
			
			.nav-link {
		       float: right;
               display: flex;
               align-items: center;
               margin: -2px;
			}
			
			.nav-link img{
				height: 30px;
				margin-right: 35px;
				margin-top: -25px;
				box-shadow: 4px 4px 8px rgba(0,0,0,0.08),
							 -6px -6px 12px rgba(255,255,255,1);
				border: 1px solid rgba(var(--b3f,250,250,250),1);
				border-radius: 5px;
				float: right;
			}
		
			.nav-link img:hover{
				box-shadow: inset 6px 6px 12px rgba(0,0,0,0.08),
							inset -6px -6px 12px rgba(255,255,255,1);
				border: 1px solid rgba(var(--b3f,250,250,250),1);
				border-radius: 5px;
			}
			
			.nav-link img:not(:first-child ) {
				margin-left: 30px;
			}
		
		}
	 	.comment td{
		 	border: 1px solid;
		 	padding-top : 40px;
		 	
		 	
		}
		
		@media(min-width:1100px){
			.comment{
				background-color: white;
				width: 1000px;
				height: 800px;
				margin-left:400px;
			}
		}
	
		.comment{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}
		
		.total_article{
		    position: absolute;
   			margin-top: 80px;
   			width: 100vw;
		}
		
		#empty{
			width:614px;
			background-color: white;
			z-index: 1;
			flex-direction: column;
			margin-left:474px;
			margin-right:1400px; 
			padding: 0;
			margin-bottom: 50px; 
			border: solid 0.5px lightgray;
		}
		
		.article{
			width:614px;
			background-color: white;
			z-index: 1;
			flex-direction: column;
			margin-left:474px;
			margin-right:1400px; 
			padding: 10px;
			margin-bottom: 50px; 
			overflow: hidden;
			box-shadow: 6px 6px 12px rgba(0,0,0,0.15),
						 -6px -6px 12px rgba(255,255,255,1);
			border: 2px solid rgba(var(--b3f,250,250,250),2);
			border-radius: 25px;
		}
		
		.article .article_profile {
			margin: 5px;
		}
		
		.article .article_profile .article_profile_img{
			width:35px;
			height:35px;
			border-radius: 50%
		}
		
		.article .article_profile_name{
			text-decoration: none;
			color: black;
			font-size: 15px;
			position: relative;
			top: -12px;
		}
		
		.article .article_img{
			width:614px;
			box-shadow: 6px 6px 12px rgba(0,0,0,0.15),
						 -6px -6px 12px rgba(255,255,255,1);
			border: 2px solid rgba(var(--b3f,250,250,250),2);
			border-radius: 15px;
		}
		
		.article .article_likeline {
			margin: 5px;
		}
		
		.article .article_likeline_likebtn{
			background: url( "../mainpageview/images/emptyheart.png" );
			width:35px;
			height:35px;
			background-size: contain;
			border:none;
			cursor: pointer;
		}
		
		.article .article_likeline_commentbtn {
			width:35px;
			height:35px;
			border:none;
		}
		
		.article .article_likecnt{
			position: relative;
			margin: 5px;
		}
		
		.article .article_content{
			position: relative;
			margin: 5px;
		}
		
		.article .article_content_name{
			text-decoration: none;
			color: black;
			
		}
		
		.article .article_date {
			margin: 5px;
			font-size: 12px;
			color: rgb(142,142,142);
			
		}
		
		.subbox2{
			height:100vh;
			width:320px;
			z-index: 1;
			flex-direction: column;
			margin-left:1200px;
			margin-right:400px; 
			padding: 0;
			position: absolute;
		}
		
		.subbox2 .subbox2_fixed{
			position: fixed;
			background-color: rgba(var(--b3f,250,250,250),1);
			width: 300px;
			margin-top: 100px;
			border: 2px solid rgba(var(--b3f,250,250,250),2);
			border-radius: 25px;
			box-shadow: 6px 6px 12px rgba(0,0,0,0.15),
						 -6px -6px 12px rgba(255,255,255,1);
			padding-bottom: 50px;
		}
		.subbox2 .myprofile{
			margin-top: 60px;
		}
		
		.subbox2 .myprofile_img img{
			margin-left:30px;
			width: 70px;
			height: 70px;
			border-radius: 50%;
		}
		
		.subbox2 .myprofile_name{
			text-decoration: none;
			margin-bottom: 10px;
			color: black;
			font-size: 30px;
			position: relative;
			top: -25px;
		}
		
		.subbox2 .follower{
			overflow: auto;
			height: 500px;
			width: auto;
		}
		
		.subbox2 .follower::-webkit-scrollbar {
    		display: none; 
		}
		
		.subbox2 .follower_profile{
			margin-left: 50px;
			height:35px;
		}
		
		.subbox2 .follower_profile_img{
			width: 50px;
			height: 50px;
			border-radius: 50%
		}
		
		.subbox2 .follower_profile_name{
			text-decoration: none;
			color: black;
			font-size: 20px;
			position: relative;
			top: -16px;
		}
		
.adminProfile{
	pointer-events: none;
}

.goTopBtn{
	position: fixed;
	width: 50px;
	height: 50px;
	background: rgba(var(--b3f,250,250,250),1);
	bottom: 40px;
	right: 50px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 30px;
	z-index: 5;
	box-shadow: 6px 6px 9px rgba(0,0,0,0.2),
						 -6px -6px 12px rgba(255,255,255,1);
	border: 1px solid rgba(var(--b3f,250,250,250),1);
	border-radius: 50%;
}

		.flag_box{
			width: 350px;
    		height: 200px;
		    background-color: rgba(20 21 24);
		    position: absolute;
		    margin-left: 105px;
		    margin-top: 70px;
		    padding: 10px 18px 65px 25px;
		    border: 1px black solid;
		    display: none;
		}
		
		.flag_radio {
			margin-bottom: 13px;
    		margin-top: 13px;
    		font-size: 17px;
			
		} 
		
		input[type='radio'],
		input[type='radio']:checked {
		  appearance: none;
		  width: 0.9rem;
		  height: 0.9rem;
		  border-radius: 100%;
		  margin-right: 5px;
		  outline: none;
		  cursor: pointer;
		}

		input[type='radio'] {
		  background-color: white;
		  border: 2px solid white;
		}
		
		input[type='radio']:checked {
		  background-color: rgba(125 91 190);
		}
		
		.article_profile_flag {
			width: 32px;
			height: 32px;
			position: relative;
    		top: -30px;
			
		}
		
		.article_likeline_unlikebtn{
			width: 35px;
			height: 35px;
		}
